.idea
obj
Temp
*.suo
*.user
*.pidb
*.userprefs
*.sln
*.csproj
*.swp
*.log

Library
.DS_Store

node_modules
Assets
manifest.json
manifest.json.meta
.vscode

EditorTestResults.xml

package-lock.json


ProjectSettings/*
!ProjectSettings/ProjectSettings.asset
