.idea
obj
Temp
*.suo
*.user
*.pidb
*.userprefs
*.sln
*.csproj
*.swp

Library
.DS_Store

node_modules
Assets/build
Assets/packages
Assets/packages.meta
Assets/Plugins/BeatThat
Assets/Plugins/BeatThat.meta
manifest.json
manifest.json.meta
.vscode

EditorTestResults.xml
