.idea
obj
Temp
*.suo
*.user
*.pidb
*.userprefs
*.sln
*.csproj
*.swp
*.log

ProjectSettings
Library
.DS_Store

node_modules
Assets
manifest.json
manifest.json.meta
.vscode

EditorTestResults.xml

package-lock.json
